* {
  margin: 0;
  padding: 0;
}

html{
  font-family: calibri;
  scroll-behavior: smooth;
}

body{
  background-color: #208DEE;
  background-image: linear-gradient(to-right, #43A1F4, #8bc8fd);
}


#welcome-section{
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 75px;
  color: white;
  transition: 300ms color, 300ms font-size;
}

#welcome-section:hover{
  font-size: 50px;
  transition: 300ms;
}

#navbar{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background: white;
  height: 8vh;
  width: 100%;
  align-items: center;
  vertical-align: middle;
  z-index: 10;
  overflow: hidden;
  visibility: hidden;
}

#navbar-button{
  height: 8vh;
  transition: 500ms background;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  text-decoration: none;
   color: black;
}

#navbar-text{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
}

#navbar-button:hover{
  background: #9DD1FF;
  transition: 500ms;
}

#profile-table{
  overflow: hidden;
  width: 100%;
  vertical-align: middle;
  align-content: center;
  padding: 5px;
}

#pro5-img{
  border-radius: 50%;
  -moz-border-radius: 50%; 
  -webkit-border-radius: 50%;
  display:block;
}

#pro5-img-div {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  height: 320px; /* the height of image */
  vertical-align: middle;
  border: #ffffff 2px solid;
  box-shadow: 0px 0px 5px #ffffff;
  height: min-content;
  width: min-content;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: visible;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

#projects{
  background: #43A1F4;
  display: flex;
  padding: 10px;
  height: 50vh;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

#languages{
  background: #208DEE;
  display: flex;
  padding: 10px;
  height: 60vh;
  width: 100%;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
}

@media only screen and (max-width: 600px){
  #navbar-text{
    font-size: 10px;
}
}