* {
  margin: 0;
  padding: 0;
}

html{
  font-family: calibri;
  scroll-behavior: smooth;
}

body{
  background: -webkit-gradient(linear, left top, right top, color-stop(#29a9ff), color-stop(#31c0f0)); /* Chrome, Safari4+ */
  background: -webkit-linear-gradient(to right, #29a9ff, #31c0f0); /* Chrome10+, Safari5.1+ */
  background: -moz-linear-gradient(to right, #29a9ff, #31c0f0);    /* FF3.6+ */
  background: linear-gradient(to right, #29a9ff, #31c0f0);      /* W3C */

  /*background-color: #208DEE;
  background: linear-gradient(to-right, #369ef8, #8dc9fd,  #8bc8fd);
  background: -moz-linear-gradient(to-right, #369ef8, #8dc9fd,  #8bc8fd);
  background: -webkit-linear-gradient(to-right, #369ef8, #8dc9fd,  #8bc8fd);*/
}


#welcome-section{
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 75px;
  color: white;
  transition: 300ms color, 300ms font-size;
}

#welcome-section:hover{
  font-size: 50px;
  transition: 300ms;
}

#profile-table{
  overflow: hidden;
  width: 100%;
  vertical-align: middle;
  align-content: center;
  padding: 5px;
}

#pro5-img{
  border-radius: 50%;
  -moz-border-radius: 50%; 
  -webkit-border-radius: 50%;
  display:block;
}

#pro5-img-div {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  height: 320px; /* the height of image */
  vertical-align: middle;
  border: #ffffff 2px solid;
  box-shadow: 0px 0px 5px #ffffff;
  height: min-content;
  width: min-content;
}

#projects{
  background: #43A1F4;
  display: flex;
  padding: 10px;
  height: 50vh;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

#languages{
  background: #208DEE;
  display: flex;
  padding: 10px;
  height: 60vh;
  width: 100%;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
}

@media only screen and (max-width: 600px){
  #navbar-text{
    font-size: 10px;
}
}